@(user: Option[models.AdminUser])

    @styles = {
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/fullcalendar/fullcalendar.css")" type="text/css" />
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/fullcalendar/fullcalendar.print.css")" type="text/css" media="print" />
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin/calendar.css")" type="text/css" media="screen" />
    }

    @scripts = {
        <!-- this page specific scripts -->
        <script src="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/momentjs/min/moment.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/fullcalendar/fullcalendar.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/admin/admin_calendar.js")"></script>
    }

@admin.main("Calendar", user, styles, scripts) {
    <!-- this page specific styles -->


    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <div class="main-box" id="external-events">
                <header class="main-box-header clearfix">
                    <h2>Masseurs</h2>
                </header>

                <div class="main-box-body clearfix" id="masseurs-container">
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="main-box">
                <div class="main-box-body clearfix">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
}