/*!
 * Beaker - Responsive Creative Flat Landing Pages - v2
 * Author URL: http://Themefeather.com
 * All Right Reserved.
 * Recommendation: It is recommended to edit the styles using LESS.
 */

// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "variables-custom.less";
@import "mixins.less";

/* header-description */
.booking-title {
  margin: 30px 0 20px;
  text-align: center;
  width: 100%;

  h3 {
    font-weight: 200;
    font-size: 40px;
    color: #000;
    padding: 0px 0 40px 0;
  }

} //.header-descirption