/*!
 * Beaker - Responsive Creative Flat Landing Pages - v2
 * Author URL: http://Themefeather.com
 * All Right Reserved.
 * Recommendation: It is recommended to edit the styles using LESS.
 */
// Load core variables and mixins
// --------------------------------------------------
@import "variables.less";
@import "variables-custom.less";
@import "lesshat";
@import "custom.less";

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/* Global
/ -------------------------------------------------- */
body {
  font-family: @body-font-family;
  font-size: 16px;
  font-weight: 500;
  color: @body-color;
  background-image: url(../img/landing.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  line-height: 1.428571429;
  margin: 0;
}

a {
  color: @link-color;
  .transition(all 300ms ease);

  &:hover,
  &:focus {
    color: @link-color-hover;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @body-font-family;
}

/* Header
/ -------------------------------------------------- */
.site-header {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  overflow: auto;
  border-bottom: 1px solid #BBBBBB;
  padding: 1em 0px;
}

/* logo  */
.site-title {
  color: #666;
  font-weight: 300;
  font-size: 30px;
}

/* header-description */
.header-description {
  margin: 200px 0 0px;
  text-align: center;

  h2 {
    font-weight: 100;
    font-size: 93px;
    color: #fff;
    text-shadow: 0 0px 12px rgba(36, 36, 36, 0.55);
    padding: 0px 0 0px 0;
  }

}

//.header-descirption

.btn-orange {
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
  background: @orange;

  &:hover,
  &:focus {
    background: transparent;
    color: @orange;
  }
}

.btn-header {
  margin-top: 90px;
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 24px;
  padding: 20px 35px;
  border: 2px solid rgb(219, 82, 47);

  &:hover,
  &:focus {
    background: transparent;
    color: #fff;
  }

}

/* user login / register */
.btn-users {
  font-size: 14px;
  padding: 10px 15px;

  &:hover,
  &:focus {
    border: 1px solid rgb(219, 82, 47);
  }

}

/* Footer
/ -------------------------------------------------- */
.footer {
  padding: 0px 0 !important;
  color: #fff;

  .footer-title {
    font-size: 20px;

    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  //.footer-title

}

.copyright {
  margin-top: 140px;
  color: #fff;
}

//.footer

.hidden {
  display: none;
}

/* Responsive fix
/ -------------------------------------------------- */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .header-description h2 {
    font-size: 83px;
    line-height: 58px;
  }

  .header-features {
    margin: 0 0 30px 0;
  }

  .header-feature {
    margin: 0 0 30px 0;
    padding: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-description {
    margin: 76px 0 80px;
  }

  .header-description h2 {
    font-size: 66px;
    line-height: 58px;
  }

  .header-btn {
    margin-top: 74px;
  }

  .header-features {
    margin: 0 0 30px 0;
  }

  .header-feature {
    margin: 0 0 30px 0;
    padding: 0;
  }

  /* blockqoute */
  blockquote > div {
    padding: 0 20px !important;
  }

  .testimonials i {
    font-size: 106px;
  }

  blockquote p {
    font-size: 18px;
  }

  /* contact form */
  .contact-form-inner {
    padding: 18px !important;
  }

  .subscribe input {
    width: 154px;
  }

  .btn-custom {
    padding: 9px 14px 8px;
  }

}

@media (max-width: 400px) {

  .slider {
    .carousel-control {
      top: -43%;
    }
  }

  /* blockqoute */
  blockquote > div {
    padding: 0 10px !important;
  }

  .testimonials i {
    font-size: 50px;
  }

  blockquote p {
    font-size: 14px !important;
  }

}

.animate-enter,
.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}