<section class="dashboard">
    <div class="panel panel-default reservation-container">
        <div class="panel-heading">
            <h1 class="panel-title center-text">Your booking has been confirmed!!</h1>
        </div>


        <div class="panel-body">
            <div class="card">

                <h1>Provided by: {{bookingInfo.companyName}}</h1>

                <p></p>

                <h1>Location: {{bookingInfo.address}}</h1>

                <p></p>

                <h1>Your Energizer: {{bookingInfo.masseurName}}</h1>

                <p></p>

                <h1>Time: {{bookingInfo.time | date:'short'}}</h1>

                <p></p>

            </div>
        </div>
    </div>
</section>