<section class="dashboard">
    <div class="container">
        <div class="booking-title">
            <h3>Book Your Massage!</h3>
        </div>

        <div class="booking-info">
            <p>Provided by: {{company.name}}</p>

            <p>Location: {{company.location}}</p>
        </div>

        <form name="form">
            <fieldset>
                <h2>Select a date:</h2>

                <div class="btn-group">
                    <label class="btn btn-primary" btn-radio="date" btn-checkbox
                           ng-repeat="date in dates" ng-click="$parent.selectedDate = date">{{date}}</label>
                </div>
                <p>

                <h2>Preferred therapist:</h2>

                <div class="btn-group">
                    <label class="btn btn-primary" btn-radio="masseur" btn-checkbox
                           ng-repeat="e in events | availableMasseurs:selectedDate"
                           ng-click="$parent.selectedMasseur = e">{{e}}</label>
                </div>

                <p>Preferred Time:

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Morning</label>
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Afternoon</label>
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Late</label>
                </div>
                </p>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="whooohoooo"
                           ng-repeat="e in events | availableTimeSlots:selectedDate:selectedMasseur | date:e" btn-radio="{{e}}">{{e}}</label>
                </div>

                <p>
                    <button class="btn btn-success btn-lg" data-ng-disabled="form.$invalid"
                            data-ng-click="makeReservation(reservation)">Looks Good!
                    </button>
                </p>
            </fieldset>
        </form>
    </div>

</section>