<div class="header-description">
    <h2>Energizing The Work Space!</h2>
    <br>
    <form>
        <input class="input-lg" placeholder="Email Address" ng-model="requestDemoEmail"> <button class="btn btn-orange btn-header btn-lg" ng-click="requestDemo">REQUEST A DEMO</button>
    </form>

</div> <!-- /.header-description -->

<div class="about-us">
    <p>Knots is a service platform that manages the scheduling of company perks.</p>
</div>

<div class="contact">
    <h3>Get in touch:</h3>
    <p>
        <a href="mailto:team@tryknots.com" class="color=black">team@tryknots.com</a>
    </p>
</form>
</div>