<div class="container">

    <div class="header-description">
        <h2>Get Awesome Massage!</h2>
        <a class="btn btn-lg btn-header" data-ng-click="login()" href="#">Book Now</a>
    </div> <!-- /.header-description -->

    <div class="header-features">
        <div class="row">
            <div class="col-sm-6 header-feature">
                <h3><i class="fa fa-random"></i> &nbsp; Relax </h3>
                <p>Proin ut iaculis nisl. Nulla dignissim neque magna, id hendrerit metus. Mauris non turpis eu arcu volutpat cursus. Etiam hendrerit erat ac eros auctor at eleifend lacus tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu dignissim risus.</p>
            </div>
            <div class="col-sm-6 header-feature">
                <h3> <i class="fa fa-dollar"></i> &nbsp; Very cheap</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla et porta nunc. Duis volutpat tristique nisl ac adipiscing. Sed eget nibh sit amet enim faucibus porta.</p>
            </div>
        </div>
    </div> <!-- /.header-features -->

</div> <!-- /.container -->
