<div class="modal-header" ng-controller="LoginCtrl">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="myModalLabel">Sign In to Knots</h4>
</div>
<div class="modal-body">
    <form name="form">
        <fieldset>
            <p><input type="email" class="form-control input-lg" data-ng-model="credentials.email"
                      placeholder="Email" required></p>

            <p><input type="password" class="form-control input-lg" data-ng-model="credentials.password"
                      placeholder="Password" required></p>

            <p>
                <button class="btn btn-success btn-block btn-lg" data-ng-disabled="form.$invalid"
                        data-ng-click="ok()">Sign in
                </button>
            </p>
            <a href="#">Forgot Password?</a>
        </fieldset>
    </form>
</div>