<section class="dashboard">
    <div class="panel panel-default reservation-container">
        <div class="panel-heading">
            <h1 class="panel-title">Book Your Massage!<span
                    class="panel-title pull-right">Provided by {{company.name}}</span></h1>
        </div>

        <div class="panel-body">
            <form name="form">
                <fieldset>
                    <div class="card">
                        <h1>Massage location</h1>

                        <h2>{{company.address}}</h2>
                    </div>

                    <div class="card">
                        <h1>Choose a date</h1>

                        <div class="btn-group">
                            <label class="btn btn-primary awesome-checkbox" ng-model="$parent.selectedDate"
                                   ng-repeat="date in dates" btn-radio="'{{date}}'">{{date}}
                            </label>
                        </div>
                    </div>

                    <div class="card">
                        <h1>Preferred Energizer</h1>

                        <div class="btn-group">
                            <label class="btn btn-primary awesome-checkbox" ng-model="$parent.selectedMasseur"
                                   ng-repeat="e in events | availableMasseurs:selectedDate" btn-radio="'{{e}}'">
                                {{e}}
                            </label>
                        </div>
                    </div>

                    <div class="card">
                        <h1>Select time</h1>
                        <div class="btn-group">
                            <label class="btn btn-primary awesome-checkbox" ng-model="$parent.selectedTime"
                                   ng-repeat="e in events | availableTimeSlots:selectedDate:selectedMasseur"
                                   btn-radio="{{e}}"
                                    >{{e.startTime}}
                            </label>
                        </div>

                    </div>

                    <button class="btn btn-orange btn-users" data-ng-disabled="form.$invalid"
                            data-ng-click="makeReservation(reservation)">Looks Good!
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</section>