@(user: Option[models.auth.User] = None)
@main("Knots", user) {
    <div id="top" class="jumbotron">
        <div class="container">
            <h1>Quick Brown Fox Jumps</h1>
            <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h2>
            <p><a class="btn btn-warning btn-lg" href="@routes.AdminSignupController.signup()">
                Sign Up Today <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
        </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->

    <div class="container">

        <h3 id="benefits" class="subhead">Why Use This Product</h3>
        <div class="row">
            <div class="col-md-4 col-sm-6 benefit">
                <div class="benefit-ball">
                    <span class="glyphicon glyphicon-home"></span>
                </div>
                <h3>Benefit Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
            </div> <!-- /.benefit -->

            <div class="col-md-4 col-sm-6 benefit">
                <div class="benefit-ball">
                    <span class="glyphicon glyphicon-cloud"></span>
                </div>
                <h3>Benefit Title</h3>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div> <!-- /.benefit -->

            <div class="col-md-4 col-sm-6 benefit">
                <div class="benefit-ball">
                    <span class="glyphicon glyphicon-bell"></span>
                </div>
                <h3>Benefit Title</h3>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
            </div> <!-- /.benefit -->

            <div class="col-md-4 col-sm-6 benefit">
                <div class="benefit-ball">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                </div>
                <h3>Benefit Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
            </div> <!-- /.benefit -->

            <div class="col-md-4 col-sm-6 benefit">
                <div class="benefit-ball">
                    <span class="glyphicon glyphicon-cutlery"></span>
                </div>
                <h3>Benefit Title</h3>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div> <!-- /.benefit -->

            <div class="col-md-4 col-sm-6 benefit">
                <div class="benefit-ball">
                    <span class="glyphicon glyphicon-fire"></span>
                </div>
                <h3>Benefit Title</h3>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
            </div> <!-- /.benefit -->
        </div> <!-- /.row -->

        <div class="sect-border"></div>

        <h3 id="about" class="subhead">A Little More About Us</h3>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
            </div> <!-- /.col-md-10 -->
        </div> <!-- /.row -->

    </div> <!-- /.container -->

    <footer>
        <div class="container clearfix">
            <p class="pull-left">
                Copyright &copy; Acme Corp 2013
            </p>
            <p class="pull-right">
                a template from <a href="http://coverstrap.com">Coverstrap</a>
            </p>
        </div> <!-- /.container -->
    </footer>

}