@()
<!DOCTYPE html>
<html lang="en" ng-app='Knots'>
    <head>
        <meta charset="utf-8">
            <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Knots - Get Energized!</title>

        <base href="/">

            <!-- Stylesheets -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/libs/bootstrap/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/libs/font-awesome.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("jsroutes.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/libs/angular.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/libs/angular-route.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/libs/angular-cookies.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/libs/angular-cookies.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/libs/ui-bootstrap-tpls-0.11.2.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/modules.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/playRoutes.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/filters.js")"></script>
        <script type="text/javascript" src="@routes.ApplicationController.jsRoutes()"></script>

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
            <!-- Favicons -->
        @*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">*@
        @*<link rel="shortcut icon" href="img/ico/favicon.png">*@
    </head>

    <body>
        <header id="site-header" class="site-header" ng-controller='HeaderCtrl' ng-cloak>
            <div class="container" data-ng-switch="!!user" data-ng-cloak>
                <h1><a class="site-title pull-left" href="@routes.ApplicationController.index()"><i class=""></i>
                    Knots</a>
                </h1>
                <div data-ng-switch-when="false">
                    <div class="btn-users text-right">
                        <a class="btn" href="" ng-click="login()">Login</a> |
                    </div>
                </div>
                <div data-ng-switch-when="true">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> {{user.name}}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                <li>
                                    <a href="" data-ng-click="logout()">
                                        <span class="glyphicon glyphicon-off"></span> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div data-ng-cloak>
            <div data-ng-view></div>
        </div>

        <footer>
            <div class="container" data-ng-controller='FooterCtrl'>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="pull-right copyright">&copy; All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>